#calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

#tela {
    border: 1px solid black;
    height: 50px;
    text-align: end;
}

.rows {
    border: 1px solid black;
    display: flex;
    flex-direction: row;    
}

.botoes,
.botoes-numero,
.botoes-operacao {
    border: 1px solid black;
    width: 75px;
    height: 35px;
    text-align: center;
}