body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

#calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    background-color:rgba(221, 221, 221, 0.25);
    margin-top: 8rem;
    border: 1rem solid rgba(19, 18, 18, 0.575);
    border-radius: 10px;
    line-height: 3.2rem;
    font-family: Ubuntu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;

}

#screen {
    border: 1px solid black;
    height: 75px;
    text-align: end;
    line-height: 4.5rem;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 5px;
}

.rows {
    border: 1px solid black;
    display: flex;
    flex-direction: row;    
}

.button,
.button-number,
.button-operation {
    border: 1px solid black;
    width: 60px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.button-number {
    background-color:rgba(150, 150, 150, 0.473);
}

.button:hover,
.button-number:hover,
.button-operation:hover {
    background-color: rgba(175, 230, 240, 0.85)
}

#ac:hover {
    background-color: rgba(240, 175, 175, 0.85)
}

#equal:hover {
    background-color: rgba(175, 240, 191, 0.85)
}

.button-operation {
    font-size: 1.5rem;
}

#para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding-left: 2px;
    margin: 0;
    text-align: start;
    line-height: 1px;

}