body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

#calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    background-color:rgba(221, 221, 221, 0.575);
    margin-top: 10rem;
    border: 1rem solid rgba(19, 18, 18, 0.575);
    border-radius: 10px;
    line-height: 2rem;

}

#screen {
    border: 1px solid black;
    height: 50px;
    text-align: end;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.rows {
    border: 1px solid black;
    display: flex;
    flex-direction: row;    
}

.button,
.button-number,
.button-operation {
    border: 1px solid black;
    width: 75px;
    height: 35px;
    text-align: center;
}
